@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Add a Author</h2>

<h4>Add a Author to this Book: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  <label for="AuthorId">Select Author:</label>
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>