@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h4>Add a new Book</h4>

@using (Html.BeginForm())
{
  <label for="Description">Description:</label>
  @Html.TextBoxFor(model => model.Description)

  <label for="AuthorId">Select Author:</label>
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Add new Book" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Books", "Index")</p>